%h2 検索条件

= form_for @hotel, :method => 'get', :url => search_hotels_path, :remote => true do |f|

  .field
    = f.label '到着日'
    = f.text_field :arrivalDate
  .field
    = f.label '出発日'
    = f.text_field :departureDate
  .field
    = f.label '地域'
    = f.text_field :city
  .action
    = f.submit '検索', :id => 'search_hotel_btn', :class => 'btn primary'
