<!DOCTYPE html>
<html>
<head>
  <title>Travelgift</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap.css" %>
  <%= stylesheet_link_tag    "jquery-ui-1.8.16.custom.css" %>
  <%= stylesheet_link_tag    "jquery.ui.1.8.16.ie.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="cotainer">
          <div class="nav-collapse">
              <ul class="nav">
                  <li class="active"><a>テスト</a></li>
              </ul>
          </div>
      </div>
    </div>
<%= yield %>

</body>
</html>
